

.rezepte {
  & .imagebox {
    position: relative;

    & h2 {
      position: absolute;
      font-size: 1.5em;
      top: 60%;
      left: 0;
      width: 100%;
      font-weight: bold;
      color: white;
      background-color: rgb(1, 1, 1, 0.3);
      font-family: 'Oswald', sans-serif;
      }
  }

}
