

.rezepte {
  & .imagebox {


    & h2 {
      font-size: 1.5em;
      width: 100%;
      font-family: 'Open Sans Condensed', sans-serif;
      }
  }

    & .title {
      padding-top: 30px;
      font-family: 'Oswald', sans-serif;
    }

    & article {
      padding-top: 15px;
    }

    & ul {
      list-style-type: none;
      padding: 0;
    }
}

.kategorie {
  & .title {
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
  }
}

/* Text on Top of image*/

/*.rezepte {
  & .imagebox {
    position: relative;

    & h2 {
      position: absolute;
      font-size: 1.5em;
      bottom: 5%;
      left: 0;
      width: 100%;
      font-weight: bold;
      color: white;
      background-color: rgb(1, 1, 1, 0.3);
      font-family: 'Oswald', sans-serif;
      }
  }

    & .title {
      padding-top: 30px;
      font-family: 'Oswald', sans-serif;
    }

    & article {
      padding-top: 15px;
    }

    & ul {
      list-style-type: none;
      padding: 0;
    }
}*/
