{{ partial "rezepte-header" . }}

<section class="rezepte image-row">
	<div class="container text-center px-0">
		<h4 class="text-left">Kategorien</h4>
		<div class="row no-gutters">
			{{ $base := .Site.BaseURL }}
      {{ range .Site.Taxonomies.categories.basics }}
      <div class="col-6 col-sm-3 p-1">
				<div class="imagebox">
        <a href="{{ .Page.URL }}">
          <img src="{{ $base }}{{ .Page.Params.img }}" class="img-fluid rounded" alt="">
					<h2>{{ .Page.Title }}</h2>
        </a>
			</div>
      </div>
      {{ end }}
		</div>
  </div>
</section>

<section>
	<div class="container rezepte px-0 pt-2">
		<h4>Neue Rezepte</h4>
		<!-- <ul>
			{{ range .Data.Pages.ByDate}}
			{{ if in .Params.categories "basics" }}
			{{ else }}
			<li>
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
			{{ end }}
			{{ end }}
		</ul> -->

	</div>
</section>

{{ partial "footer.html" . }}
