{{ partial "rezepte-header" . }}

<section id="main">
  <div class="container mt-4">
    <h1 id="title">{{ .Title }}</h1>
    <div class="pt-2">
      <article id="content">
         {{ .Content }}
      </article>
    </div>
  </div>
</section>

<section class="rezepte image-row">
	<div class="container text-center px-0">
		<div class="row no-gutters">

      {{ $rez := .Params.rezeptecat }}
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{ range $key, $value := $taxonomy }}
      {{ if eq $rez $key }}
        {{ range $value.Pages }}
        <div class="col-6 col-sm-3 p-1">
          <div class="imagebox">
          <a href="{{ .RelPermalink }}">
            {{ if .Params.img }}
            <img src="{{ .Site.BaseURL }}{{ .Params.img }}" class="img-fluid rounded" alt="">
            {{ else }}
            <img src="{{ .Site.BaseURL }}img/insta/1.jpg" class="img-fluid rounded" alt="">
            {{ end }}
            <h2>{{ .Title }}</h2>
          </a>
        </div>
        </div>
        {{ end }}
      {{ end }}
      {{ end }}

      {{ end }}
		</div>
  </div>
</section>

{{ partial "footer.html" . }}
