{{ partial "rezepte-header" . }}

<section class="rezepte image-row">
	<div class="container text-center px-0">
		<div class="row no-gutters">
			{{ $base := .Site.BaseURL }}
      {{ range .Site.Taxonomies.categories.basics }}
      <div class="col-6 col-sm-3 p-1">
				<div class="imagebox">
        <a href="{{ .Page.URL }}">
          <img src="{{ $base }}{{ .Page.Params.img }}" class="img-fluid rounded" alt="">
					<h2>{{ .Page.Title }}</h2>
        </a>
			</div>
      </div>
      {{ end }}
		</div>
  </div>
</section>

{{ partial "footer.html" . }}
