{{ partial "rezepte-header.html" . }}

<section id="main">
  <div class="container rezepte">

  <h1 class="title">{{ .Title }}</h1>
  <div class="row">
    <div class="col-md-8">
      <article class="">
        {{ .Content }}
      </article>
    </div>
    <div class="col">
      {{ if .Params.img1 }}
        <img src="{{ .Site.BaseURL }}{{ .Params.img1 }}" class="img-fluid rounded" alt="">
      {{ end }}
      {{ if .Params.img2 }}
        <img src="{{ .Site.BaseURL }}{{ .Params.img2 }}" class="img-fluid rounded pt-2" alt="">
      {{ end }}
    </div>
  </div>

  </div>
</section>

{{ partial "footer.html" . }}
