{{ partial "header" . }}

<!-- Category Cards Section -->

<section class="cards">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="#">
						<div class="content">
							<div class="text-center title">OMA isst bio</div>
							<div class="text-center subtitle">Lebensmittel, Natürliche Nahrungsmittel</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="{{ .Site.BaseURL }}rezepte">
						<div class="content">
							<div class="text-center title">REZEPTE</div>
							<div class="text-center subtitle">lecker genießen!</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="{{ .Site.BaseURL }}entgiften">
						<div class="content">
							<div class="text-center title">Entgiften & Aufbauen</div>
							<div class="text-center subtitle">vom Giftzwerg zum basischen Traumtänzer</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="#">
						<div class="content">
							<div class="text-center title">Lachen - Atmen - Bewegen</div>
							<div class="text-center subtitle">
								Ruhepause, Stille-Zeiten,
								Spiegelschaun
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="{{ .Site.BaseURL }}links">
						<div class="content">
							<div class="text-center title">Links</div>
							<div class="text-center subtitle">
								Wo Wie Was
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="cardbox">
					<a href="#">
						<div class="content">
							<div class="text-center title">Wer bin ich</div>
							<div class="text-center subtitle">
								Pfadfinder- HeilSucher - Berater
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Main Section -->
<!--
<section class="main">
<div class="container">
<div class="row mt-5">
<div class="col">
<img src="img/salad.jpg" class="img-fluid rounded" alt="">
</div>
<div class="col">
<h1>Hallo Rezept</h1>
<p>Hallo Welcome</p>
<p>Hallo Info</p>
<p>Hallo News</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
</div>
</div>
</div> -->
<!-- <div class="main-bg"></div> -->

</section>

<!-- Image Section -->

<section class="image-row">
	<div class="container text-center px-0">
		<div class="row no-gutters">
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/1.jpg" class="img-fluid " alt="">
			</div>
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/5.jpg" class="img-fluid " alt="">
			</div>
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/3.jpg" class="img-fluid " alt="">
			</div>
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/4.jpg" class="img-fluid " alt="">
			</div>
			<div class="col-sm p-1">
				<img src="img/homepage/2.jpg" class="img-fluid " alt="">
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/mona1-sq.jpg" class="img-fluid" alt="">
				<p class="pt-5 p-2">UNSER KÖRPER IST EIN Wunderwerk und ein Küstler der Regeneration</p>
			</div>
			<div class="col-6 col-sm p-1">
				<img src="img/homepage/mona2-sq.jpg" class="img-fluid" alt="">
				<p class="pt-5 p-2">Es is(s)t nie zu spät...weil Leben schön ist!</p>
			</div>
			<div class="col-sm col-sm-6 p-1">
				<img src="img/homepage/papaya600.jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</section>


{{ partial "footer" . }}
