{{ partial "header" . }}

	<!-- Category Cards Section -->

	<section class="cards">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
							<a href="#">
								<h5 class="text-center">OMA isst bio</h5>
								<div class="text-center">Lebensmittel, Natürliche Nahrungsmittel</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
							<a href="{{ .Site.BaseURL }}rezepte">
								<h5 class="text-center">REZEPTE</h5>
								<div class="text-center">lecker genießen!</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
							<a href="#">
								<h5 class="text-center">Entgiften & Aufbauen</h5>
								<div class="text-center">vom Giftzwerg zum basischen Traumtänzer</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
						<a href="#">
							<h5 class="text-center">Lachen - Atmen - Bewegen</h5>
							<div class="text-center">
								Ruhepause, Stille-Zeiten,
								Spiegelschaun
							</div>
						</a>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
						<a href="#">
							<h5 class="text-center">Links</h5>
							<div class="text-center">
								Wo Wie Was
							</div>
						</a>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="cardbox">
						<div class="content">
						<a href="#">
							<h5 class="text-center">Wer bin ich</h5>
							<div class="text-center">
								Pfadfinder- HeilSucher - Berater
							</div>
						</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Main Section -->
<!--
	<section class="main">
		<div class="container">
			<div class="row mt-5">
				<div class="col">
					<img src="img/salad.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col">
					<h1>Hallo Rezept</h1>
					<p>Hallo Welcome</p>
					<p>Hallo Info</p>
					<p>Hallo News</p>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
				</div>
			</div>
		</div> -->
		<!-- <div class="main-bg"></div> -->

	</section>

	<!-- Image Section -->

	<section class="image-row">
		<div class="container text-center px-0">
			<div class="row no-gutters">
				<div class="col-6 col-sm p-1">
						<img src="img/insta/1.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-6 col-sm p-1">
						<img src="img/insta/5.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-6 col-sm p-1">
						<img src="img/insta/3.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-6 col-sm p-1">
						<img src="img/insta/4.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-sm p-1">
						<img src="img/insta/2.jpg" class="img-fluid rounded" alt="">
				</div>
			</div>

			<div class="row no-gutters">
				<div class="col-6 col-sm p-1">
					<img src="img/mona1-sq.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-6 col-sm p-1">
					<img src="img/mona2-sq.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-sm col-sm-6 p-1">
					<img src="img/papaya2.jpg" class="img-fluid rounded" alt="">
				</div>
			</div>
		</div>
	</section>


{{ partial "footer" . }}
